@use "~react-pwn/palette.scss";


.bh-repo-list {
    .title {
        .user {
            color: palette.$color-secondary-08;
        }
    }

    .bh-repo-list-item {
        border-radius: 4px;
        padding: 12px;
        box-shadow: 0px 0px 0px 2px palette.$color-neutral-05;
        background-color: palette.$color-neutral-01;
        cursor: pointer;
        transition: box-shadow 100ms ease-in;
        display: flex;
        flex-direction: row;
        align-items: baseline;

        &:hover {
            box-shadow: 0px 0px 0px 2px palette.$color-primary-06;
        }

        .name {
            color: palette.$color-primary-06;
            font-weight: 700;
            flex-shrink: 0;
            margin-right: 16px;
            font-size: 18px;
        }

        .description {
            overflow: hidden;
            white-space: nowrap;
            color: palette.$color-neutral-07;
            font-size: 14px;
        }
    }
}